*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    background-color: #eee;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-col{
    display: flex;
    flex-direction: column;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: .2px solid rgba(0,0,0, 0.4);
    background-color: #fff;
    gap: 1rem;
    padding: .5rem;
}

.img-col .big-img{
    max-width: 550px;
    margin: 0 auto;
}

.img-col .big-img img{
    object-fit: cover;
    width: 100%;

}


/* ========SMALL IMG========================== */

.img-col .small-img{
    
    object-fit: contain;
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 600px;
    padding: .5rem;
    
}

.small-img img{
    cursor: pointer;
    width: 10%;
    margin: 0 auto;
    flex-basis: 20%;
}